In [1]:
#Load the diabetes dataset
import pandas as pd
data = pd.read_csv('../data/diabetes.csv')

In [2]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
# Convert to nulls all the zeros in columns that should not have zeros 
import numpy as np
cols = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
data[cols] = data[cols].replace({0:np.nan})

In [6]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [7]:
X = data.drop('Outcome', axis=1)
y = data['Outcome']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [9]:
# Calculate medians
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputer.fit(X_train)
X_train.median().values

array([  3.    , 118.    ,  72.    ,  30.    , 127.5   ,  32.5   ,
         0.3725,  29.    ])

In [10]:
# Transform the training data by replacing nulls with medians
X_train_tr = imputer.transform(X_train)	# This returns a numpy array
X_train_tr_df = pd.DataFrame(X_train_tr, columns=X_train.columns, index=X_train.index) # convert np array to pd df

In [11]:
X_train_tr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 762 to 684
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               576 non-null    float64
 1   Glucose                   576 non-null    float64
 2   BloodPressure             576 non-null    float64
 3   SkinThickness             576 non-null    float64
 4   Insulin                   576 non-null    float64
 5   BMI                       576 non-null    float64
 6   DiabetesPedigreeFunction  576 non-null    float64
 7   Age                       576 non-null    float64
dtypes: float64(8)
memory usage: 40.5 KB

In [13]:
# Standadize the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_tr2 = scaler.fit_transform(X_train_tr_df) # This returns a numpy array
X_train_tr2_df = pd.DataFrame(X_train_tr2, columns=X_train.columns, index=X_train.index)
X_train_tr2_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
762,1.507552,-1.098747,-0.911784,0.042798,-0.187175,-1.456717,-0.983259,-0.048640
127,-0.829864,-0.132470,-1.249200,0.712079,-0.568360,0.091725,-0.624936,-0.882466
564,-1.122041,-1.032107,0.606587,0.042798,-0.187175,-0.037312,0.398842,-0.548935
375,2.384083,0.600568,0.775295,1.492907,2.060111,0.937632,0.179030,2.035925
663,1.507552,0.767168,0.606587,1.827548,-0.158728,0.751246,0.507242,0.535038

In [14]:
# Replace nulls with medians in the test set
X_test_tr = imputer.transform(X_test)   # This returns a numpy array
X_test_tr_df = pd.DataFrame(X_test_tr, columns=X_test.columns, index=X_test.index) # convert np array to pd df
X_test_tr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 661 to 463
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               192 non-null    float64
 1   Glucose                   192 non-null    float64
 2   BloodPressure             192 non-null    float64
 3   SkinThickness             192 non-null    float64
 4   Insulin                   192 non-null    float64
 5   BMI                       192 non-null    float64
 6   DiabetesPedigreeFunction  192 non-null    float64
 7   Age                       192 non-null    float64
dtypes: float64(8)
memory usage: 13.5 KB

In [15]:
# Scale the test set
X_test_tr2 = scaler.fit_transform(X_test_tr_df) # This returns a numpy array
X_test_tr2_df = pd.DataFrame(X_test_tr2, columns=X_test.columns, index=X_test.index)
X_test_tr2_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
661,-0.894665,2.478326,0.384849,1.730388,-0.102275,1.696898,2.781543,-0.933942
122,-0.581777,-0.434519,0.227131,0.150056,-0.444922,0.268538,-0.237481,-0.842500
113,0.044000,-1.416021,-0.719180,0.150056,-0.102275,0.329972,-0.277125,-0.659617
14,0.356888,1.433501,0.069413,-1.187149,0.489570,-0.929442,0.320581,1.717862
529,-1.207553,-0.307874,-0.482602,0.150056,-0.102275,-1.113747,0.543196,-0.110968

In [17]:
# Train a model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train_tr2_df.values, y_train.values)

LogisticRegression()

In [18]:
# Evaluate the model
lr.score(X_test_tr2_df.values, y_test.values)

0.796875