HARSH CHANDRAKANT KAMANI - 659774

1. Download the weather dataset provided on Blackboard and load it into a Jupyter notebook. (Hint: Load the file as we did the abalone file but provide a file path instead of a URL.)
2. Display the first five rows of the dataset.
3. Display the dimensions of the dataset, i.e., the number of rows and columns.
4. You are going to use the minimum temperature as the input feature and the maximum temperature as the target. A cell has been provided that extracts the needed columns for you. Split the dataset into train and test datasets.
6. Train a linear regression model for predicting the maximum temperature using only the minimum temperature as the input feature. 
7. Evaluate the model using RMSE
8. Predict the maximum temperature on a day that has a minimum temperature of 10 degrees.

Question 1

In [1]:
import pandas as pd

In [4]:
path = "/content/sample_data/weather.csv"
weather = pd.read_csv(path)

Question 2

In [5]:
weather.head()

   MinTemp  MaxTemp  Rainfall  ...  RainToday  RISK_MM RainTomorrow
0      8.0     24.3       0.0  ...         No      3.6          Yes
1     14.0     26.9       3.6  ...        Yes      3.6          Yes
2     13.7     23.4       3.6  ...        Yes     39.8          Yes
3     13.3     15.5      39.8  ...        Yes      2.8          Yes
4      7.6     16.1       2.8  ...        Yes      0.0           No

[5 rows x 22 columns]

Question 3

In [10]:
print(weather)

     MinTemp  MaxTemp  Rainfall  ...  RainToday  RISK_MM RainTomorrow
0        8.0     24.3       0.0  ...         No      3.6          Yes
1       14.0     26.9       3.6  ...        Yes      3.6          Yes
2       13.7     23.4       3.6  ...        Yes     39.8          Yes
3       13.3     15.5      39.8  ...        Yes      2.8          Yes
4        7.6     16.1       2.8  ...        Yes      0.0           No
..       ...      ...       ...  ...        ...      ...          ...
361      9.0     30.7       0.0  ...         No      0.0           No
362      7.1     28.4       0.0  ...         No      0.0           No
363     12.5     19.9       0.0  ...         No      0.0           No
364     12.5     26.9       0.0  ...         No      0.0           No
365     12.3     30.2       0.0  ...         No      0.0           No

[366 rows x 22 columns]

Question 4

In [12]:
# 4. Extracting the input feature column and the target column
# Exatract the input feature MinTemp
X = weather['MinTemp'].values.reshape(-1, 1) 
# Extract the target MaxTemp
y = weather['MaxTemp'].values.reshape(-1, 1)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Question 5

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lin_reg = LinearRegression()
lin_reg.fit(X, y)
y_pred = lin_reg.predict(X)

Question 6

In [19]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [21]:
train_pred = lin_reg.predict(X_train)
mse = mean_squared_error(y_train, train_pred)
rmse = sqrt(mse)
print(rmse)

4.470337705264274

In [20]:
test_pred = lin_reg.predict(X_test)
mse = mean_squared_error(y_test, test_pred)
rmse = sqrt(mse)
print(rmse)

4.1134811377630935

Question 7

In [22]:
import numpy as np

In [23]:
X_new = np.array([[10]])
lin_reg.predict(X_new)

array([[22.83482366]])